<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <style>
       
        h2 {
            display: none;
            font-size: 18px;
        }
       
        .expandable-header {
            cursor: pointer;
            text-decoration: underline;
            color: blue;
           
        }
        .horizontal-layout {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            list-style: none; 
            padding: 0; 
        }
        h1{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1 class="expandable-header">Notifications</h1>

    <ul class="horizontal-layout">
        <li>
            <h2>New Scholarships</h2>
            <ul>
                {% for notification in new_scholarship_notifications %}
                    <li>{{ notification.message }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h2>Upcoming Deadlines</h2>
            <ul>
                {% for notification in upcoming_deadline_notifications %}
                    <li>{{ notification.message }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h2>Approved Scholarship Applications</h2>
            <ul>
                {% for notification in approved_notifications %}
                    <li>{{ notification.message }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <script>
        // Function to toggle visibility of h2 elements on clicking h1
        document.addEventListener('DOMContentLoaded', function() {
            var h1Header = document.querySelector('h1.expandable-header');
            var h2Elements = document.querySelectorAll('h2');
            
            h1Header.addEventListener('click', function() {
                for (var i = 0; i < h2Elements.length; i++) {
                    h2Elements[i].style.display = h2Elements[i].style.display === 'none' ? 'block' : 'none';
                }
            });
        });
    </script>
</body>
</html>
