<!-- notifications.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
</head>
<body>
    <h2>Notifications</h2>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown"
    data-popper-placement="bottom-end"
    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);">
        {% if notifications %}
            {% for notification in notifications %}
                <li class="dropdown-item">{{ notification.message }}</li>
            {% endfor %}
            <hr class="dropdown-divider">

        {% else %}
            <p>No notifications</p>
        {% endif %}
    </ul>
</body>
</html>
