<!-- applicants_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Scholarship Applicants</title>
</head>
<body>
    <h2>Scholarship Applicants</h2>
    <th> <a href="{% url 'approved_list'%}"><button>View approved</button></a></th>

    <table>

        <thead>

            <tr>        

                <th>Name</th>
                <th>Email</th>
                <th>Application Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for application in scholarship_applications %}
                <tr>
                    <td>{{ application.name }}</td>
                    <td>{{ application.email }}</td>
                    <td>{{ application.created_at }}</td>
                    <td>{% if application.is_approved %}Approved{% else %}Not Approved{% endif %}</td>
                    <td><a href="{% url 'approve_scholarship' id=application.id%}"><button>Approve</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
            table, td, th {
      border: 1px solid #ddd;
      text-align: left;
      padding-left: 48px;
    }
    th, td {
      padding: 15px;
    }
    th{
      background-color: rgb(221, 168, 226);
     
      color: black;
    }
    </style>
</body>
</html>
