{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <title>Support</title>
    
    <style>
  .container
  {
    margin-top: 5%;
  }
  .card{
    background-color: rgb(180, 183, 211);
    box-shadow: 10px 16px 16px #422b72;


  }
  .card-text{

    font-size: 18px;
  }
  .card-title{
    font-size: 22px;
  }
   
    </style>
</head>
<body>

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Welcome to FundsFinder
        </div>
        <div class="card-body">
          <h5 class="card-title">Need support? Contact us at</h5>
          <p class="card-text"> nikhilreddy9190@gmail.com </p>
         
        </div>
        <div class="card-footer text-body-secondary">
            Feel free to reach out
        </div>
      </div>
    </div>
</body>
</html>
